// %extend-example {
//     display: inline-block;
//     color: pink;
//     border: 1px solid black;
//     width: $content-width;
// }

// %text-md {
//     font-size: 16px;
//     font-weight: 500;
//     color: $textColor;
//   }

%extend-button {
    border-radius: 6px;
    padding: 16px 25px;
    border: 1px solid $purple;
}

%extend-transparent-button-hover {
  &:hover {
    background: $lightPurple;
    transition: all 0.3s ease-in;
    color: $white;
    border-radius: 1px solid $lightPurple 6px;
  }
}
