@charset "utf-8";
// Размерность
$content-width: 1290px;

// Шрифты
$default: "Golos", sans-serif;

// Цвет фона
$lightBlue: #eef2ff;
$white: #f5f5f5;
$darkwhite: #F6F5FA;
$lilac: #EEF2FF;

// Цвет кнопок
$purple: #6339f5;
$lightPurple: #825ffc;
$grey: #e5e7eb;

// Карточки
$border-radius: 6px;
$max-width: 300px;
$max-height: 300px;

