.header {
    max-width: 1290px;
    justify-content: space-between;
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 31px;

    &__logo {
        width: 288px;
        height: 63px;
    }

    &__contact {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__contact-geo {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__contact-geo:first-child {
        margin-right: 60px;
    }

    &__contact-phone {
        display: flex;
        flex-direction: row;
    }

    &__contact-svg {
        width: 11px;
        height: 15.8px;
        margin-right: 6px;
    }

    &__contact-text-phone {
        font-size: 18px;
        font-weight: 500;
        margin-right: 8px;
        line-height: 22px;
    }

    &__contact-text {
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        margin-right: 11px;
    }

    &__contact-link {
        color: #6339f5;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        border-bottom: 1px dashed #6339F5;
        text-decoration: none;
    }

    &__container {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 42px 0 0 0;
        align-items: flex-start;
    }

    &__nav_text {
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        display: flex;
        align-items: center;
        position: relative;
        padding-bottom: 26px;
    }

    &__nav_svg {
        margin-left: 10px;
        width: 12px;
        height: 7px;
    }

    &__nav_text .dropdown-content {
        border-radius: 6px;
        border: 1px solid #E5E7EB;
        background: #FFF;
        box-shadow: 0px 7px 24px 0px rgba(24, 18, 43, 0.10);
        position: absolute;
        min-width: 250px;
        max-width: 270px;
        z-index: 10;
        top: 50px;
        opacity: 0;
        transform: translateY(-20px);
        visibility: hidden;
        transition: opacity ease .5s, transform ease .5s, visibility .5s;
        padding: 24.6px 30px;
        box-sizing: border-box;
    }

    &__nav_text:hover .dropdown-content {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
        transition-delay: 0s;
    }

    .dropdown-content a {
        padding: 10px 0 10px 0;
        text-decoration: none;
        display: block;
        margin: 0;
        color: #2C2D36;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }

    .dropdown-content a:hover {
        color: #6339F5;
    }
}