.slider {
  // Общие стили слайдера

  &__container {
    // Стили контейнера слайдера
  }

  &__content {
    // Стили содержимого слайдера
  }

  &__item {
    // Стили элемента слайдера
  }

  &__button {
    border-radius: 50%;
    background-color: #fff;
    position: relative;

    &--prev {
      // Стили для кнопки предыдущего слайда
    }

    &--next {
      // Стили для кнопки следующего слайда
    }
  }

  &__info {
    // Стили информации о слайде
  }

  &__info-wrapper {
    // Стили для обертки информации о слайде
  }

  &__image-container {
    // Стили контейнера изображения слайдера
  }

  &__image {
    // Стили изображения слайдера
  }

  &__text-container {
    // Стили контейнера текста слайдера
  }

  &__headline {
    // Стили заголовка слайдера
  }

  &__list {
    // Стили списка слайдера
  }

  &__list-item {
    // Стили элемента списка слайдера
  }

  &__nav {
    // Стили навигации слайдера
  }

  &__nav-item {
    // Стили элемента навигации слайдера
  }
}
