@font-face {
  font-family: 'Golos';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/GolosText-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'Golos';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../../fonts/GolosText-Medium.ttf) format('ttf');
}

@font-face {
  font-family: 'Golos';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../../fonts/GolosText-SemiBold.ttf) format('ttf');
}

@font-face {
  font-family: 'Golos';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../../fonts/GolosText-Bold.ttf) format('ttf');
}
