// example n1
@mixin my-mixin($color, $height) {
    color: $color;
    height: $height;
    @extend %extend-example;
}
// example n2
@mixin btn-type($type: 'std') {
    @if ($type == 'danger') {
        background-color: red;
        color: #fff;
    } @else {
        background-color: grey;
        color: black;
    }
}