html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/golos-text_regular.woff) format("woff");
}
@font-face {
  font-family: "Golos";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../../fonts/golos-text_medium.woff) format("woff");
}
@font-face {
  font-family: "Golos";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../../fonts/golos-text_demibold.woff) format("woff");
}
@font-face {
  font-family: "Golos";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../../fonts/golos-text_bold.woff) format("woff");
}
.font-bolder {
  font-weight: bolder;
}

.font-bold {
  font-weight: bold;
}

.font-normal {
  font-weight: normal;
}

.font-lighter {
  font-weight: lighter;
}

.btn.btn-primary {
  background-color: blueviolet;
  color: white;
}

.btn.btn-success {
  background-color: palegreen;
  color: black;
}

.btn.btn-danger {
  background-color: indianred;
  color: white;
}

.btn.btn-default {
  background-color: white;
  color: black;
}

.text_black--vvsm {
  color: #2c2d36;
  font-size: 14px;
}

.text_black--vsm {
  color: #2c2d36;
  font-size: 16px;
}

.text_black--sm {
  color: #2c2d36;
  font-size: 18px;
}

.text_black--md {
  color: #2c2d36;
  font-size: 24px;
}

.text_black--xl {
  color: #2c2d36;
  font-size: 30px;
}

.text_black--xxl {
  color: #2c2d36;
  font-size: 60px;
}

.text_purple--vvsm {
  color: #6339f5;
  font-size: 14px;
}

.text_purple--vsm {
  color: #6339f5;
  font-size: 16px;
}

.text_purple--sm {
  color: #6339f5;
  font-size: 18px;
}

.text_purple--md {
  color: #6339f5;
  font-size: 24px;
}

.text_purple--xl {
  color: #6339f5;
  font-size: 30px;
}

.text_purple--xxl {
  color: #6339f5;
  font-size: 60px;
}

.text_white--vvsm {
  color: #f2f2f2;
  font-size: 14px;
}

.text_white--vsm {
  color: #f2f2f2;
  font-size: 16px;
}

.text_white--sm {
  color: #f2f2f2;
  font-size: 18px;
}

.text_white--md {
  color: #f2f2f2;
  font-size: 24px;
}

.text_white--xl {
  color: #f2f2f2;
  font-size: 30px;
}

.text_white--xxl {
  color: #f2f2f2;
  font-size: 60px;
}

.text_grey--vvsm {
  color: #6b7280;
  font-size: 14px;
}

.text_grey--vsm {
  color: #6b7280;
  font-size: 16px;
}

.text_grey--sm {
  color: #6b7280;
  font-size: 18px;
}

.text_grey--md {
  color: #6b7280;
  font-size: 24px;
}

.text_grey--xl {
  color: #6b7280;
  font-size: 30px;
}

.text_grey--xxl {
  color: #6b7280;
  font-size: 60px;
}

.service__button {
  border-radius: 6px;
  padding: 16px 25px;
  border: 1px solid #6339F5;
}

body {
  font-family: "Golos", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.container {
  max-width: 1290px;
  padding: 24px 0 52px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.text_spec {
  font-family: Arial, Helvetica, sans-serif;
}

header menu {
  display: flex;
  list-style: none;
}

.banner__text, .banner__form-wrapper {
  width: 50%;
}
.banner__label {
  display: block;
}
.banner__label input {
  width: 100%;
  margin-bottom: 10px;
}

.service {
  background-color: #eef2ff;
  max-width: 100%;
  height: 780px;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.service__content {
  padding: 129px 70px 0;
  width: 1290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  gap: 85px;
  background-image: url(../../../images/img-min.png);
  background-repeat: no-repeat;
  background-position: 630px 70px;
  position: relative;
}
.service__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.service__title {
  max-width: 655px;
  font-weight: 600;
}
.service__title--highlight {
  color: #6339F5;
}
.service__subtitle {
  max-width: 607px;
}
.service__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 20px;
}
.service__button {
  font-weight: 500;
}
.service__button--primary {
  background-color: #6339F5;
  cursor: pointer;
}
.service__button--primary:hover {
  background: #825FFC;
  transition: all 0.3s linear;
  border-radius: 1px solid #825FFC 6px;
}
.service__button--secondary {
  background-color: transparent;
  cursor: pointer;
}
.service__button--secondary:hover {
  background: #825FFC;
  transition: all 0.3s ease-in;
  color: #f5f5f5;
  border-radius: 1px solid #825FFC 6px;
}
.service__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 70px;
  justify-content: space-between;
}
.service__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  gap: 13px;
  max-width: 234px;
  width: 100%;
}
.service__item--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
.service__item--pic {
  max-width: 33px;
  max-height: 33px;
}
.service__item--title {
  font-weight: 500;
  margin-top: 9px;
}
.service__item--subtitle {
  font-weight: 400;
}
.service__item--wrapper {
  display: flex;
  gap: 12px;
}
.service__vector--primary {
  background-image: url(url(../../../images/Vector-1-min.png));
  background-repeat: no-repeat;
  width: 404px;
  height: 303px;
  position: absolute;
  right: -430px;
  bottom: 10px;
}
.service__vector--secondary {
  background-image: url(url(../../../images/Vector-min.png));
  background-repeat: no-repeat;
  width: 331px;
  height: 334p x;
  position: absolute;
  bottom: 270px;
  left: -240px;
}

body {
  background-color: #f5f5f5;
}

/*# sourceMappingURL=index.css.map */
